
<div class="p-3">
    <div class="box">
        <h2 class="justify-left"> Cruscotto </h2>

        <form [formGroup]="listaSpeseForm" (ngSubmit)="ricerca()">
            <div class="row">
                <div class="col form-group">
                    <label for="utentiList">Utente</label>
                    <select class="form-control" id="utentiList" formControlName="utenteForm">
                        <option selected value="">Selezionare un utente</option>
                        <option *ngFor="let utente of listaUtenti" [value]="utente.id" >{{utente.name}}</option>
                    </select>
                </div>
                <div class="col form-group">
                    <label for="utentiList">Anno</label>
                    <select class="form-control" id="anniList" formControlName="annoForm">
                        <option selected value="">Selezionare un anno</option>
                        <option *ngFor="let anno of listaAnni" [value]="anno" >{{anno}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col form-group d-flex justify-content-end">
                    <button 
                        type="button" 
                        class="btn btn-info mr-3" 
                        (click)="resetCampi()"
                    >   
                        Reset campi
                    </button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        [disabled]="listaSpeseForm.invalid"
                    >   
                        <fa-icon [icon]="faSearch"></fa-icon>
                        Ricerca
                    </button>
                </div>
            </div>
        </form>

        <div *ngIf="listaSpese && listaSpese.length > 0">    
            <h2 class="justify-left"> Risultati </h2>
            <p-table
                *ngIf="listaSpese && listaSpese.length > 0"
                [value]="listaSpese"
                [tableStyle]="{ 'min-width': '50rem' }"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Mese</th>
                        <th>Entrate</th>
                        <th>Uscite</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td class="grassetto">{{ rowIndex+1 }}</td>
                        <td>{{ item.mese }}</td>
                        <td>{{ ((item.entrate)?item.entrate:0.00) | currency: 'EUR':'symbol' }}</td>
                        <td>{{ ((item.uscite)?item.uscite:0.00) | currency: 'EUR':'symbol' }}</td>
                    </tr>
                </ng-template>
            </p-table>   
        </div>
    </div>
</div>