<div class="p-3">
    <div class="box">
        <h2 class="justify-left"> Lista tipologie </h2>
        <p-table
            [value]="listaTipologie"
            *ngIf="listaTipologie && listaTipologie.length"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrati da {first} a {last} di {totalRecords} righe"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Nome tipologia</th>
                    <th>Nome categoria</th>
                    <th>Azioni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ item.nomeTipologia }}</td>
                    <td>{{ item.categoria.nomeCategoria }}</td>
                    <td>
                        <a class="icon-table" (click)="cancella(item.id)">
                            <fa-icon [icon]="faTimes" class="primary"></fa-icon>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        
        <span *ngIf="!listaTipologie || !listaTipologie.length">
            Nessuna tipologia presente, utilizzare la funzione apposita per creare la prima tipologia oppure
            <a [routerLink]="['/tipologie/crea']" [queryParams]="{'idParent': '1-7', 'indietro': 0}" routerLinkActive="active">clicca qui</a>
        </span>
    </div>
</div>