<div class="p-3">
    <div class="box">
        <h2 class="justify-left"> Lista utenti </h2>
        <p-table
            *ngIf="listaUtenti && listaUtenti.length > 0"
            [value]="listaUtenti"
            [paginator]="true"
            [rows]="5"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrati da {first} a {last} di {totalRecords} righe"
            [rowsPerPageOptions]="[5, 10, 25, 50]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Nome utente</th>
                    <th>Email utente</th>
                    <th>Azioni</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td class="grassetto">{{ rowIndex + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.email }}</td>
                    <td>
                        <a class="icon-table" (click)="cancella(item.id)">
                            <fa-icon [icon]="faTimes" class="primary"></fa-icon>
                        </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>  
        
        <span *ngIf="!listaUtenti || !listaUtenti.length">
            Nessun utente presente, utilizzare la funzione apposita per creare il primo utente oppure
            <a [routerLink]="['/utente/crea']" [queryParams]="{'idParent': 3, 'indietro': 0}" routerLinkActive="active">clicca qui</a>
        </span>
    </div>
</div>