<div class="p-3">
    <div class="box">
        <h2 class="justify-left"> Storico Spese </h2>

        <div class="p-3">       
            <p-table
                *ngIf="listaStorico && listaStorico.length > 0"
                [value]="listaStorico"
                [paginator]="true"
                (sortFunction)="customSort($event)" 
                [customSort]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrati da {first} a {last} di {totalRecords} righe"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th pSortableColumn="descrizione">
                            Descrizione<p-sortIcon field="descrizione"></p-sortIcon>
                        </th>
                        <th pSortableColumn="account.nomeAccount">
                            Account<p-sortIcon field="account.nomeAccount"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dataOperazione">
                            Data<p-sortIcon field="dataOperazione"></p-sortIcon>
                        </th>
                        <th pSortableColumn="utente.name">
                            Utente<p-sortIcon field="utente.name"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                    <tr>
                        <td class="grassetto">{{ rowIndex + 1 }}</td>
                        <td>{{ item.descrizione }}</td>
                        <td>{{ item.account?.nomeAccount }}</td>
                        <td>{{ item.dataOperazione }}</td>
                        <td>{{ item.utente?.name }}</td>
                    </tr>
                </ng-template>
            </p-table>   
        
            <span *ngIf="!listaStorico || !listaStorico.length">
                Nessuna spesa presente nello storico
            </span>
        </div>
    </div>
</div>