<div class="p-3">
    <div class="box">
        <h2 class="justify-left"> Storico Spese </h2>

        <div class="p-3">       
            <table class="table table-striped" *ngIf="listaStorico && listaStorico.length > 0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrizione</th>
                        <th scope="col">Account</th>
                        <th scope="col">Data</th>
                        <th scope="col">Utente</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item, of listaStoricoVisibile; index as i">
                        <th scope="row">{{ (i + 1)+((page-1)*pageSize) }}</th>
                        <td>{{ item.descrizione }}</td>
                        <td>{{ item.account?.nomeAccount }}</td>
                        <td>{{ item.dataOperazione }}</td>
                        <td>{{ item.utente?.name }}</td>
                    </tr>
                </tbody>
            </table>   

            <div class="d-flex justify-content-between p-2" *ngIf="listaStorico && listaStorico.length > 0">
                <ngb-pagination [collectionSize]="listaSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshData()">
                </ngb-pagination>
                
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshData()">
                    <option [ngValue]="6">6 elementi per pagina</option>
                    <option [ngValue]="8">8 elementi per pagina</option>
                    <option [ngValue]="10">10 elementi per pagina</option>
                </select>
            </div> 
        
            <span *ngIf="!listaStorico || !listaStorico.length">
                Nessuna spesa presente nello storico
            </span>
        </div>
    </div>
</div>