<div class="p-3">
    <div class="box">
        <h2 class="justify-left"> Lista categorie </h2>
        <div class="row mb-2 d-flex justify-content-end">
            <div class="col-auto">
                    <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click)="eliminaCategoria()"
                    [disabled]="!selectedFile || !selectedFile.data"
                >   
                    Elimina
                </button>
            </div>
        </div>

        <p-confirmDialog #cd [style]="{width: '50vw'}">
            <ng-template pTemplate="header">
                <h3>Eliminazione categoria</h3>
            </ng-template>
            <ng-template pTemplate="footer">
                <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
                <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
            </ng-template>
        </p-confirmDialog>

        <div class="row">
            <div class="col">
                <div class="card flex justify-content-center">
                    <p-tree class="w-full md:w-30rem" [value]="files" selectionMode="single" [(selection)]="selectedFile"></p-tree>
                </div>
            </div>
        </div>

        <span *ngIf="!listaCategorie || !listaCategorie.length">
            Nessuna categoria presente, utilizzare la funzione apposita per creare la prima categoria oppure
            <a [routerLink]="['/categorie/crea']" [queryParams]="{'idParent': '1-5', 'indietro': 0}" routerLinkActive="active">clicca qui</a>
        </span>

    </div>
</div>