<div class="p-1">
    <div class="box">
        <h2 class="justify-left"> Lista Spese </h2>

        <form [formGroup]="listaSpeseForm" (ngSubmit)="ricerca()">
            <div class="row">
                <div class="col form-group">
                    <label for="utentiList">Utente</label>
                    <select class="form-control" id="utentiList" formControlName="utenteForm">
                        <option selected value="">Selezionare un utente</option>
                        <option *ngFor="let utente of listaUtenti" [value]="utente.id" >{{utente.name}}</option>
                    </select>
                </div>
                <div class="col form-group">
                    <label for="descrizioneSpesa">Descrizione spesa</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="descrizioneSpesa" 
                        formControlName="descrizione"
                        placeholder="Inserire la descrizione"
                    >
                </div>
                <div class="col form-group">
                    <label for="accountList">Account spesa</label>
                    <select class="form-control" id="accountList" formControlName="accountForm">
                        <option selected value="">Selezionare un account</option>
                        <option *ngFor="let account of listaAccount" [value]="account.id" >{{account.nomeAccount}}</option>
                    </select>
                </div>
                <div class="col form-group">
                    <label for="categoriaList">Categoria</label>
                    <p-treeSelect 
                        class="md:w-20rem w-full" 
                        containerStyleClass="w-full form-control"
                        formControlName="categoriaForm" 
                        [options]="listaCategorie" 
                        placeholder="Seleziona categoria"
                        [showClear]="true"
                        [filter]="true"
                    ></p-treeSelect>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="dataContabileDa">Data Contabile Da</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Nel formato giorno-mese-anno" id="dataContabileDa"
                                name="dp" formControlName="dataContabileDa" ngbDatepicker #d1="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col form-group">
                    <label for="dataContabileDa">Data Contabile A</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Nel formato giorno-mese-anno" id="dataContabileA"
                                name="dp" formControlName="dataContabileA" ngbDatepicker #d2="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="dataValutaDa">Data Valuta Da</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Nel formato giorno-mese-anno" id="dataValutaDa"
                                name="dp" formControlName="dataValutaDa" ngbDatepicker #d3="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d3.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col form-group">
                    <label for="dataValutaA">Data Valuta A</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="Nel formato giorno-mese-anno" id="dataValutaA"
                                name="dp" formControlName="dataValutaA" ngbDatepicker #d4="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d4.toggle()" type="button">
                                <fa-icon [icon]="faCalendar"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col form-group d-flex justify-content-end">
                    <button 
                        type="button" 
                        class="btn btn-info mr-3" 
                        (click)="resetCampi()"
                    >   
                        Reset campi
                    </button>
                    <button 
                        type="submit" 
                        class="btn btn-primary" 
                        [disabled]="listaSpeseForm.invalid"
                    >   
                        <fa-icon [icon]="faSearch"></fa-icon>
                        Ricerca
                    </button>
                </div>
            </div>
        </form>
        <div class="p-3" *ngIf="listaSpese && listaSpese.length > 0">    
            <h2 class="justify-left"> Risultati </h2>
            <p-table
                [value]="listaSpese"
                [paginator]="true"
                (sortFunction)="customSort($event)" 
                [customSort]="true"
                [rows]="5"
                [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                currentPageReportTemplate="Mostrati da {first} a {last} di {totalRecords} righe"
                [rowsPerPageOptions]="[5, 10, 25, 50]"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="dataContabile">
                            Data Contabile<p-sortIcon field="dataContabile"></p-sortIcon>
                        </th>
                        <th pSortableColumn="dataValuta">
                            Data Valuta<p-sortIcon field="dataValuta"></p-sortIcon>
                        </th>
                        <th>Descrizione</th>
                        <th>Entrate</th>
                        <th>Uscite</th>
                        <th>Account</th>
                        <th>Categoria</th>
                        <th>Azioni</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{ item.dataContabile }}</td>
                        <td>{{ item.dataValuta }}</td>
                        <td [ngbTooltip]="item.descrizioneEstesa" container="body" placement="top">
                            {{ item.descrizioneCustom || item.descrizione }}
                        </td>
                        <td>{{ ((item.entrate)?item.entrate:0.00) | currency: 'EUR':'symbol' }}</td>
                        <td>{{ ((item.uscite)?item.uscite:0.00) | currency: 'EUR':'symbol' }}</td>
                        <td>{{ item.account?.nomeAccount }}</td>
                        <td>{{ item.categoriaScelta?.nomeCategoria }}</td>
                        <td>
                            <a class="icon-table">
                                <fa-icon [icon]="faTimes" class="primary" (click)="cancella(item)"></fa-icon>
                            </a>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <p-confirmDialog #cd [style]="{width: '50vw'}">
                <ng-template pTemplate="header">
                    <h3>Eliminazione record di spesa</h3>
                </ng-template>
                <ng-template pTemplate="footer">
                    <button type="button" pButton icon="pi pi-check" label="Si" (click)="cd.accept()"></button>
                    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
                </ng-template>
            </p-confirmDialog>

            <div class="row mt-4">
                <div class="col">
                    <span class="badge rounded-pill bg-primary badge-spese">
                        <strong>Totale spese:</strong>
                        {{totaleSpese | currency: 'EUR':'symbol' }}
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <button 
                        type="button" 
                        class="btn btn-primary" 
                        (click)="open(content)"
                    >   
                        <fa-icon [icon]="faChartPie"></fa-icon>
                        Apri grafico
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Grafico Spese</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Chiudi')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="col form-group">
            <label for="accountList">Account spesa</label>
            <select 
                class="form-control" 
                id="accountListGrafico" 
                (change)="changeSelectGrafico($event);">
                <option selected value="">Selezionare un account</option>
                <option *ngFor="let account of listaAccount" [value]="account.id" >{{account.nomeAccount}}</option>
            </select>
        </div>
        <app-piechart [pieChartLabels]="labelsGrafico" [pieChartData]="datiGrafico"></app-piechart>
    </div>
</ng-template>